<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342536105758-jbu5j3rj0rqs31o6as7e5s13bm6eeh82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342536105758-jbu5j3rj0rqs31o6as7e5s13bm6eeh82</string>
	<key>API_KEY</key>
	<string>AIzaSyAuD2k42oYaWjGIFz8EZnWqAgV0Bai_bcI</string>
	<key>GCM_SENDER_ID</key>
	<string>342536105758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.elisa.elisahost.release</string>
	<key>PROJECT_ID</key>
	<string>elisa-host-app</string>
	<key>STORAGE_BUCKET</key>
	<string>elisa-host-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342536105758:ios:cae83850d4760493b6e30f</string>
</dict>
</plist>